.full{
    height: 100vh;
    width: 100vw;
    background-image:
radial-gradient(at 20% 77%, hsla(191,95%,37%,0.58) 0px, transparent 50%),
radial-gradient(at 85% 84%, hsla(289,100%,50%,0.44) 0px, transparent 50%) !important;
}
