.hero2{
   padding-top: 14rem;
    text-align: center;
 height: 100vh;
 /* background-image:
 radial-gradient(at 1% 99%, hsla(300,100%,50%,0.5) 0px, transparent 50%),
 radial-gradient(at 97% 4%, hsla(199,100%,50%,0.68) 0px, transparent 50%); */
 overflow-x: hidden;
}
.hero2 h1{
    font-size: 3.4rem !important;
}
.herobtn{
    padding-left: 40px;
    padding-right: 40px;
}
@media (max-width: 480px){
    .hero2 h1{
        font-size: 3.5rem;
    }
}